.middle{
	width:1200px;
	margin:30px auto 0;
}
.middle .step{
	margin:0 auto;
	text-align:center;
	position:relative;
}
.middle .step>span>i{
	width:28px;
	height:28px;
	background:url(../img/step.png);
	display:block;
	margin:0 auto;
	font-size:16px;
	color:#fff;
	font-style:normal;
	line-height:28px;
}
.middle .step>em{
	width:216px;
	height:10px;
	position:absolute;
	background-color:#a6a6a8;
	left:50%;
	margin-left:-108px;
	top:9px;
	z-index:-1;
}
.middle .step>span{
	display:inline-block;
	position:relative;
	width:122px;
	font-size:14px;
	color:#666;
	line-height:30px;
}
.middle .step>span>.step1{
	height:28px;
	width:75px;
	position:absolute;
	top:0;
	right:0;
	background:url(../img/step1.png) no-repeat;
}
.middle .step>span>.step2{
	height:28px;
	width:122px;
	position:absolute;
	top:0;
	left:0;
	background:url(../img/step2.png) no-repeat;
}
.middle .step>span>.step3{
	height:28px;
	width:75px;
	position:absolute;
	top:0;
	left:0;
	background:url(../img/step3.png) no-repeat;
	display:none;
}
.middle .address>p,.middle .confirm-order>p{
	color:#666;
	font-size:16px;
	line-height:40px;
}

.middle .address ul{
	display:inline-block;
}
.middle .address li{
	display:inline-block;
	width:198px;
	height:146px;
	padding:0 20px;
	margin-right:17px;
	background:url(../img/address-case_03.png) no-repeat -255px 0px;
	cursor:pointer;
}
.middle .address ul>.on{
	background-position:0 0;
}
.middle .address li>span>b{
	color:#666;
	font-size:16px;
	font-weight:normal;
}
.middle .address li>span{
	color:#666;
	font-size:14px;
	display:block;
	line-height:25px;
}
.middle .address li>span:first-child{
	line-height:54px;
}
.middle .address>a{
	width:172px;
	height:68px;
	border:1px solid #d0cfcf;
	display:inline-block;
	vertical-align:top;
	margin-left:6px;
	color:#666;
	font-size:14px;
	text-align:center;
	padding-top:76px;
	background:#dcdcdc url(../img/+.png) no-repeat 74px 45px;
}
.middle .address>a:hover{
	color:#666 !important;
}
.middle .confirm-order{
	margin-top:10px;
}
.middle .confirm-order table{
	width:1200px;
	border-collapse:collapse;
}
.middle .confirm-order table thead{
	border:1px solid #9a9a9a;
	font-size:16px;
	color:#666;
	background-color:#dcdcdc;
}
.middle .confirm-order table thead th{
	line-height:37px;
	font-weight:normal;
}
.middle .confirm-order table tbody td i{
	font-size:14px;
	color:#666;
	display:block;
	text-decoration:line-through;
	font-style:normal;
}
.middle .confirm-order table tbody td b{
	color:#4d4d4d;
	font-size:16px;
	font-weight:normal;
}
.middle .confirm-order table tbody td em{
	color:#ca2821;
	font-size:16px;
	font-style:normal;
}
.middle .confirm-order table tbody td{
	font-size:14px;
	color:#666;
	text-align:center;
	vertical-align:top;
	padding-top:10px;
}
.middle .confirm-order table tbody td p{
	width:174px;
	font-size:14px;
	color:#666;
	text-align:left;
	display:inline-block;
	vertical-align:top;
}
.middle .confirm-order table tbody td p:hover{
	color:#ca2821;
}
.middle .confirm-order table tbody td img{
	margin:-5px 10px 3px 20px;
}
.middle .confirm-order table tbody tr{
	border:1px solid #d7d7d7;
}
.middle .confirm-order table tbody tr:first-child{
	border-top:none;
}
.middle .confirm-order>.message{
	font-size:18px;
	color:#666;
	margin-top:15px;
}
.middle .confirm-order>.message>input{
	font-size:14px;
	color:#bebdbd;
	width:305px;
	height:23px;
	border:1px solid #d0cfcf;
	line-height:23px;
}
.middle .confirm-order>.message>span{
	float:right;
	font-size:14px;
	color:#666;
	text-align:right;
	margin-top:-10px;
}
.middle .confirm-order>.submit{
	margin:8px 0 86px;
	float:right;
	clear:both;
}
.middle .confirm-order>.submit>div{
	width:272px;
	height:130px;
	border:1px solid #ca2821;
	text-align:right;
}
.middle .confirm-order>.submit>div>p:first-child{
	font-size:18px;
	color:#666;
	line-height:36px;
	margin-top:15px;
}
.middle .confirm-order>.submit>div>p:first-child>span{
	color:#ca2821;
	font-size:28px;
	margin-top:5px;
	vertical-align:top;
}
.middle .confirm-order>.submit>div>p,.middle .confirm-order>.submit>div>span{
	font-size:14px;
	color:#666;
	margin-top:5px;
}
.middle .confirm-order>.submit>div>span{
	display:inline-block;
	margin-left:15px;
}
.middle .confirm-order>.submit>a{
	background-color:#ca2821;
	text-align:center;
	width:104px;
	font-size:18px;
	color:#fdfbfb;
	line-height:40px;
	display:block;
	float:right;
}
.middle .confirm-order>.submit>a:hover{
	color:#fdfbfb !important;
}