.middle{
	width:1200px;
	margin:0 auto;
	padding:0;
}
.middle .page{
	margin:30px 0 105px;
}
.middle .location{
	font-size:14px;
	color:#474849;
	height:30px;
	margin:16px 0;
}
.middle .location>span{
	width:78px;
	border:1px solid #dcdcdc;
	display:inline-block;
	line-height:28px;
	text-align:center;
}
.middle .location .dropdown{
	background:url(../img/help_arrow.png) no-repeat 63px 12px;
}
.middle .location>i{
	width:6px;
	height:12px;
	display:inline-block;
	background:url(../img/arrow.png);
	margin:-1px 3px;
}
.middle .screen{
	border:1px solid #dcdcdc;
}
.middle .screen>p{
	color:#474849;
	font-size:14px;
	line-height:35px;
	border-top:1px solid #dcdcdc;
}
.middle .screen>p:first-child{
	border-top:none;
}
.middle .screen>p>span{
	display:inline-block;
	width:68px;
	padding-left:12px;
	border-right:1px solid #dcdcdc;
}
.middle .screen>p>a{
	margin:0 7px;
}
.middle .screen>p>.on{
	color:#2139ca;
}
.middle .sort{
	margin:13px 0 0 0;
}
.middle .sort>.on{
	color:#ca2821;
}
.middle .sort>a:first-child{
	text-align:center;
	text-indent:0px;
	background:none;
}
.middle .sort>a{
	display:inline-block;
	width:43px;
	height:20px;
	border:1px solid #dcdcdc;
	color:#474849;
	font-size:14px;
	margin-right:5px;
	text-indent:3px;
	background:url(../img/sort.png) no-repeat 33px 4px;
}
.middle .sort>form{
	display:inline-block;
	margin-left:10px;
}
.middle .sort input[type="text"]{
	height:20px;
	line-height:20px;
	border:1px solid #dcdcdc;
	color:#a3a3a3;
	font-size:14px;
	width:83px;
}
.middle .sort input[type="submit"]{
	width:37px;
	height:22px;
	line-height:22px;
	padding:0;
	background:#dcdcdc;
	color:#666;
	font-size:14px;
	border:none;
}
.middle>ul{
	width:1120px;
	margin:0 auto;
}
.middle>ul>li{
	text-align:center;
	display:inline-block;
	position:relative;
	vertical-align:top;
	margin:25px 0 0 50px;
}
.middle>ul>li:hover p{
	color:#ca2821;
}
.middle>ul>li>a:first-child{
	position:absolute;
	width:29px;
	height:22px;
	right:30px;
	bottom:5px;
	background:url(../img/addcart.png);
}
.middle>ul>li>a:first-child:active{
	bottom:4px;
}
.middle>ul>li>a>p{
	font-size:16px;
	color:#666;
	line-height:45px;
}
.middle>ul>li>a>span{
	text-indent:-30px;
	display:block;
}
.middle>ul>li>a>span>b{
	color:#ca2821;
	font-size:16px;
	font-weight:normal;
}
.middle>ul>li>a>span>b>i{
	font-size:12px;
	font-style:normal;
}
.middle>ul>li>a>span>em{
	color:#909090;
	font-size:12px;
	font-style:normal;
	text-decoration:line-through;
}